<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChessNotationFlashcards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8327A1D51F52060F008A375B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8327A1E91F52060F008A375B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8327A1F41F52060F008A375B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
